<ion-view view-title="Sign-In">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
    </div>
    <!-- <div class="status" ng-model="loginMessage" ng-class="{'error': !loginSuccess}"></div> -->

<!--     <div ng-init="loginStatus">
      <ng-messages for="loginStatus">
        <ng-message when="!success">Success</ng-message>
      </ng-messages>
    </div> -->

  </ion-content>
</ion-view>
