<ion-view view-title="Interfaces">
  <ion-content>
    <ion-list>

      <ion-item class="item-toggle item-icon-left" ng-repeat="interface in interfaces" ng-show="{{interface.published}}">
        <div class="icon" ng-class="{'ion-ios7-lightbulb': light01, 'ion-ios7-lightbulb-outline': !light01}"></div>
        {{interface.name}}
        <label class="toggle">
          <input type="checkbox" ng-model="light01" ng-change="toggle()">
          <div class="track"> <div class="handle"></div> </div>
        </label>
      </ion-item>


      <!-- <ion-item class="item-remove-animate item-icon-right" ng-repeat="action in room_actions" type="item-text-wrap"> -->
        <!-- <img ng-src="{{chat.face}}"> -->
        <!-- <h2>{{action.name}}</h2> -->
        <!-- <p>{{room.description}}</p> -->
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
        Delete
      </ion-option-button> -->
    <!-- </ion-item> -->
  </ion-list>
</ion-view>
