<ion-view view-title="Interfaces">
  <ion-content>
    <ion-list>

      <ion-item class="item-toggle item-icon-left" ng-repeat="interface in interfaces" ng-show="{{interface.published}}">
        <div class="icon" ng-class="{'ion-ios7-lightbulb': interface.on, 'ion-ios7-lightbulb-outline': !interface.on}"></div>
        {{interface.name}}
        <label class="toggle">
          <input type="checkbox" ng-model="interface.on" ng-change="actuate(interface)">
          <div class="track"> <div class="handle"></div> </div>
        </label>

      </ion-item>

  </ion-list>
</ion-view>
